.App {
    .form {
        display: flex;
        align-items: center;

        input {
            padding-right: 1em;
        }
    }

    .icon {
        font-size: 1.2em;
        cursor: pointer;

        svg {
            display: block;
        }
    }

    .task-element {
        display: flex;
    }

    .task {
        &.completed {
            text-decoration: line-through;
        }

        label {
            user-select: none;
        }
    }
    
    .hidden {
        display: none;
    }
}

